footer {
    position: sticky;
    right: 0;
    bottom: 0;
    padding-right: 20px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    
    span {
        color: var(--text);
    }
    a:hover {
        text-decoration: underline;
    }
}