.toggleArea {
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    background-color: var(--secondary);

    .visible {
        top: 70px !important;
        height: auto !important;
        opacity: 1 !important;
    }
    .toggle:not(.visible) {
        top: -200vh;
    }
    .toggle {
        border-radius: var(--radius);
        position: absolute;
        box-shadow: var(--shadow);
        background-color: var(--secondary);

        &::before {
            content: '';
            position: absolute;
            top: -40px;
            right: 20px;
            border-top: 20px solid transparent;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid var(--secondary);
        }
    }
}
.iconCenter {
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconLeft {
    background-color: var(--primary);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}