* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 300ms ease;
}
::-webkit-scrollbar {
    background-color: var(--primary);
    width: 0.7em;
    height: 0.7em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
}
input[type="text"] {
    border-radius: var(--radius);
    border: 2px solid transparent;
    background-color: var(--secondary);
    color: var(--text);
    font-size: 1em;
    padding: 20px;
    transition: border 100ms ease;

    &:focus-visible {
        outline-width: 0px;
        border: 2px solid var(--text);
    }
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}
li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: var(--text);
}
svg path {
    fill: var(--icon) !important;
}