#app.light {
    --primary: #E3E5E8;
    --secondary: #F2F3F5;
    --color3: #dbdbdb;
    --color4: #8f8f8f;
    --text: #313131;
    --text2: #D6D6D6;
    --icon: #313131;
    --icon2: #dbdbdb;
    --highlight: #02A583;
    --red: #f52929;
    --radius: 5px;
    --shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}
#app.dark {
    --primary: #202225;
    --secondary: #36393F;
    --color3: #27282b;
    --color4: #696969;
    --text: #D6D6D6;
    --text2: #121214;
    --icon: #D6D6D6;
    --icon2: #727272;
    --highlight: #02A583;
    --red: #f52929;
    --radius: 5px;
    --shadow: 2px 2px 10px rgba(0, 0, 0, .4);
}