@use "./breakpoints" as *;
@use "./themes";
@use "./reset";


#app {
    height: 100vh;
    font-family: sans-serif;
    display: grid;
    grid-template: 	
        "aside header" 60px
        "aside main" 1fr
        "aside footer" 40px
        / min-content minmax(600px, 1fr)
    ;
    > * {
        background-color: var(--primary);
    }
    >  header:not(.fixed) {
        background-color: transparent !important;
    }
    >  header.fixed {
        box-shadow: var(--shadow);
    }
    >  header {
        grid-area: header;
    }
    > aside:not(#panel) {
        background-color: var(--secondary);
    }
    > aside {
        grid-area: aside;
        z-index: 100;
    }
    > main {
        grid-area: main;
		grid-row: header/main;
        overflow: auto;
    }
    > footer {
        grid-area: footer;
    }
    button {
        border: none;
    }
    *.visible {
        height: auto !important;
        opacity: 1 !important;
    }
}