@use "./config/breakpoints" as *;
@use "./config/themes";
@use "./config/reset";


#app {
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    display: grid;
    grid-template: 	
        "aside header" 60px
        "aside main" 1fr
        "aside footer" 40px
        / minmax(75px, 300px) minmax(600px, 1fr)
    ;
    > * {
        background-color: var(--primary);
    }
    > header {
        grid-area: header;
    }
    > aside:not(#panel) {
        background-color: var(--secondary);
    }
    > aside {
        grid-area: aside;
        z-index: 100;
    }
    > main {
        grid-area: main;
        overflow: auto;
    }
    > footer {
        grid-area: footer;
    }
    button {
        border: none;
    }
    *.visible {
        height: auto !important;
        opacity: 1 !important;
    }
}