body.light {
    --primary: #E3E5E8;
    --secondary: #F2F3F5;
    --text: #313131;
    --text2: #D6D6D6;
    --highlight: #02A583;
    --radius: 5px;
}
body.dark {
    --primary: #202225;
    --secondary: #36393F;
    --text: #D6D6D6;
    --text2: #121214;
    --highlight: #02A583;
    --radius: 5px;
}